name: Benchmark Compare

on:
  pull_request:
    branches: ["*"]

jobs:
  bench:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Setup python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        architecture: x64
    - name: Set Cache
      uses: actions/cache@v4
      id: cache  # name for referring later
      with:
        path: .venv/
        # The cache key depends on poetry.lock
        key: ${{ runner.os }}-cache-${{ hashFiles('poetry.lock') }}-313
        restore-keys: |
          ${{ runner.os }}-cache-
          ${{ runner.os }}-
    - name: Install Dependencies
      # if: steps.cache.outputs.cache-hit != 'true'
      run: |
        python -m pip install -U pip poetry
        poetry env use python3.13
        poetry config --local virtualenvs.in-project true
        poetry install
    - name: Benchmark regression test
      run: |
        ./scripts/bench-compare