:root {
  --light-green: #deff00;
  --bright-green: #00c300;
  --dark-green: #090;
  --blue: #0af;
  --dark-blue: #07c;
  --darkest-blue: #00009e;
  --mint-blue: #f7fcfc;
  --orange: #f90;
  --dark-orange: #e70;
  --asphalt-grey: #131313;
  --white: #fff;
  --subtle-grey: #f3f3f3;
  --light-grey: #e3e3e3;
  --light-silver: #d3d3d3;
  --silver: #b3b3b3;
  --medium-grey: #939393;
  --grey: #737373;
  --dove-grey: #535353;
  --dark-grey: #333;
  --coal-grey: #232323;
  --asphalt-grey: #131313;
  --cinematic-black: #0c0c0c;
  --black: #000;
}

[data-md-color-scheme="kpn"] {
  --md-default-fg-color: var(--black);
  --md-default-fg-color--light: var(--medium-grey);
  --md-primary-fg-color: var(--dark-green);
  --md-default-bg-color: #fff;
  --md-typeset-color: #232323;
  --md-typeset-a-color: var(--dark-blue);
  --md-typeset-table-thead-color: var(--light-grey);
  --md-accent-fg-color: var(--darkest-blue);
}

[data-md-color-scheme="kpn-dark"] {
  --md-default-fg-color: var(--white);
  --md-default-fg-color--light: var(--grey);
  --md-primary-fg-color: var(--dark-green);
  --md-default-bg-color: var(--asphalt-grey);
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-table-color: var(--md-default-fg-color--light);
  --md-typeset-table-thead-color: var(--coal-grey);
  --md-typeset-a-color: var(--blue);
  --md-accent-fg-color: var(--dark-blue);

  --md-code-bg-color: var(--dark-grey);
  --md-code-fg-color: var(--light-grey);
  --md-code-hl-color: var(--orange);
  --md-code-hl-name-color: var(--silver);
  --md-code-hl-number-color: var(--orange);

  --md-code-hl-function-color: var(--light-green);
  --md-code-hl-keyword-color: var(--blue);
  --md-code-hl-string-color: var(--dark-orange);

  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--dark-green);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--coal-grey);

}

.md-typeset__table thead {
  background-color: var(--md-typeset-table-thead-color);
}